.vscode/
BeWindowsFormsHexBox/Bin/
BeWindowsFormsHexBox/obj/
DevILNet/Bin/
DevILNet/obj/
GomLib/Bin/
GomLib/obj/
HashDictionary/Bin/
HashDictionary/obj/
ObjectListView/Bin/
ObjectListView/obj/
Source/obj/
SlimDXFramework/Bin/
SlimDXFramework/obj/
TorLib/Bin/
TorLib/obj/
*.pdb
*.log