.vs/
.vscode/
ConsoleTools/Bin/
ConsoleTools/obj/
DevILNet/Bin/
DevILNet/obj/
GomLib/Bin/
GomLib/obj/
HashDictionary/Bin/
HashDictionary/obj/
HexControl/Bin/
HexControl/obj/
ObjectListView/Bin/
ObjectListView/obj/
SlimDXNet/Bin/
SlimDXNet/obj/
Source/obj/
TorLib/Bin/
TorLib/obj/
*.pdb
*.log
