<?xml version="1.0"?>
<configuration>
  <runtime>
	<gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <!-- Path to the asset files -->
    <add key="AssetsPath" value="C:\Program Files (x86)\Electronic Arts\BioWare\Star Wars-The Old Republic\Assets\"/>
    <!-- Assets - Load PTS files? -->
    <add key="AssetsUsePTS" value="false" />
    <!-- Path to the asset files -->
    <add key="PrevAssetsPath" value="C:\Program Files (x86)\Electronic Arts\BioWare\Star Wars - The Old Republic\Assets\"/>
    <!-- Previous assets - Load PTS files?-->
    <add key="PrevAssetsUsePTS" value="true" />
    <!-- Path to the extract files -->
    <add key="ExtractPath" value="C:\SWTOR\Extract\"/>
    <!-- Path to the Previous Build's Full XML files -->
    <add key="PrevXMLPath" value="C:\SWTOR\PrevExtract\"/>
    <!-- Path Where to Extract Assets -->
    <add key="ExtractAssetsPath" value="C:\SWTOR\Assets\"/>
    
    <add key="CrossLinkDOM" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>